:host {
  display: block;
  text-align: center;
}

.wip {
  height: 400px;
  margin: 24px;
  margin-top: 120px;
  color: #2c3e50;
  font-size: 32px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .wip {
    color: #fff;
  }
}
